@charset "utf-8";
	
/*****************/
/* Basic Styling */
/*****************/
.cards_wrap:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.cards_wrap {
	display: block;
}
.cards_wrap
{
	text-align:center;
	text-align:center;
	max-width: 900px;
	margin-left: 100px;
	margin-right: auto;
	padding-bottom: 40px;
	display:block;
	margin-top: 50px;
	position: relative;
	padding: 10px;
}
.cards_wrap .cards
{

	width: 10%;
	float: left;
	text-align:center;
	margin-left: -2%;
	margin-right: -2%;
	list-style:none;
	position: relative;
	padding: 1.5%;
	padding-bottom: 2.5%;
	display:inline-block;
}
.no-border .cards
{
	        border-radius: 0px;
	   -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	width: 10%;
	float: left;
	text-align:center;
	margin-left: -5%;
	margin-right: -5%;
	list-style:none;
	border: none;
	position: relative;
	background-color: inherit;
	padding: 0%;
	        box-shadow: none;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	
}
.social_icons
{
	cursor: pointer;
}
.no-margin .cards
{
	margin-left: 0%;
	margin-right: 0%;	
}
.wide-margin .cards
{
	margin-left: -12%;
	margin-right: -12%;	
} 
.cards_wrap.shadow .cards.active_slide
{
	        box-shadow: -20px 10px 17px -14px #AAA, 20px 10px 17px -14px #AAA, 0px 0px 10px #e5dccd inset;
	   -moz-box-shadow: -20px 10px 17px -14px #AAA, 20px 10px 17px -14px #AAA, 0px 0px 10px #e5dccd inset;
	-webkit-box-shadow: -20px 10px 17px -14px #AAA, 20px 10px 17px -14px #AAA, 0px 0px 10px #e5dccd inset;
}
.cards_wrap.shadow-deep .cards.active_slide
{
	        box-shadow: -70px 15px 80px -24px #555, 70px 15px 80px -24px #555;
	   -moz-box-shadow: -70px 15px 80px -24px #555, 70px 15px 80px -24px #555;
	-webkit-box-shadow: -70px 15px 80px -24px #555, 70px 15px 80px -24px #555;
}
.cards_wrap.shadow-deep .cards img
{
	border-color: #EEE;
}


/*****************/
/* Image Styling */
/*****************/
.cards img
{
	width: 170px;	
	        box-shadow: 0px 6px 2px -4px #CCC;
	   -moz-box-shadow: 0px 6px 2px -4px #CCC;
	-webkit-box-shadow: 0px 6px 2px -4px #CCC;
}
.no-border .cards img
{
	        box-shadow: none;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
.no-image-shadow .cards img
{
		    box-shadow: none;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-left: none;
	border-right: none;

}


/********************/
/* Captions Styling */
/********************/
.cards .main_caption
{
font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
font-weight: 300;
margin-bottom: 0px;
padding-bottom: 0px;
text-shadow: 0px 0px 2px #CCC;
display:block;
margin-top: 12px;
font-size: 28px;
line-height: 130%;
border-bottom: 1px solid #EEE;
margin-bottom: 12px;
padding-bottom: 5px; 
}
.cards .main_caption
{
	padding-bottom: 5px;
}
.cards .sub_caption
{
line-height: 15px;
font-family: "Bad Script", "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 16px;
font-weight:normal;
margin: 0;
padding: 0;
text-shadow: 0px 0px 1px #DDD;
}
.cards .overlap_caption
{
position: absolute;
bottom: 10px;
left: 1px;
right: -1px;
font-family: 'Bad Script', "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #111;
font-size: 24px;	
background-color: #EEE;
display:block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
text-shadow: 0px 0px 2px #CCC;  
line-height: 165%;
}
.cards_wrap .cards p
{
font-family: "Droid Sans", Arial, Helvetica, sans-serif;
font-weight: normal;
margin-bottom: 0px;
padding-bottom: 0px;
text-shadow: none;
display:block;
margin-top: 5px;
font-size: 13px;
color: #444;
}
.cards .caption_right, .cards .caption_right_2
{
position: absolute;
right: -1px;
bottom: 61px;
font-family: 'Open Sans', "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #fff;
font-size:17px;	
background-color: #333;
display:none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  opacity: 0.65;
height: 24px;
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
line-height: auto;
padding-bottom: 5px;
}
.cards .caption_right_2
{
	font-size: 12px;
	bottom: 37px;
	height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.cards .social_base
{
position: absolute;
bottom: 0px;
right: -1px;
color: #111;
display:none;
background-color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  opacity: 0.65;
  line-height: auto;
  height: 37px;
}
.cards .social_base img
{
	border: none;
	margin: 6px;
	margin-bottom: 2px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
    line-height: auto;

}
.cards .social_base img:hover
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;	
}
.butn
{

  font-size: 14px;
  padding: 8px 15px 8px 15px;
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0px 0px 1px #EEE;
  width: 130px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: inline-block;
}

 .butn:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
text-decoration: none;
}

 .butn:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }


/******************/
/* Pricing Tables */
/******************/
ul.pricing_table
{
	padding: 0;
	margin: 0;
		    border-top-left-radius: 6px;
	   -moz-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
		    border-top-right-radius: 6px;
	   -moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	list-style:none;
	position: relative;
	        box-shadow: 0px 0px 2px #EEE, 0px 0px 10px #e5dccd inset;
	   -moz-box-shadow: 0px 0px 2px #EEE, 0px 0px 10px #e5dccd inset;
	-webkit-box-shadow: 0px 0px 2px #EEE, 0px 0px 10px #e5dccd inset;
	display:inline-block;
	width: 100%;
	background-color: #fff;
	border: 1px solid #DDD;
}
.active_slide ul.pricing_table
{
	border: 1px solid #AAA;
}
.cards_wrap .cards > ul > li
{
	display: block;
	text-align: center;
	max-width: 300px;
	padding: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ddd;
	position: relative;


}
.cards_wrap .cards .head
{
		    border-top-left-radius: 6px;
	   -moz-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
		    border-top-right-radius: 6px;
	   -moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	font-size: 30px;
	text-align: center;
	background-image: url('../images/pricing_bg.png');
	color: #FFF;
	text-shadow: 0px 0px 2px #FFF;
	border-bottom: 1px solid #222;
	background-color: #DDD;
	box-shadow: 0px -1px 5px -2px #eee inset;
	-moz-box-shadow: 0px -1px 5px -2px #eee inset;
	-webkit-box-shadow: 0px -1px 5px -2px #eee inset;
	padding-top: 12px;
	padding-bottom: 12px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
    margin-left: -1px;
    margin-right: -1px;
}
.cards_wrap .cards .price
{
	text-align: center;
	background-image: url('../images/pricing_bg.png');
	color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #666;
	background-color: #DDD;
    margin-left: -1px;
    margin-right: -1px;
}
.cards_wrap .cards .price.focus, .cards_wrap .cards .head.focus
{
	background-image: url('../images/pricing_bg2.png');
}


.cards_wrap .cards .price img
{
	border: none;

}

.cards_wrap .cards .feat
{
	padding: 20px;
	position: relative;
}
.cards_wrap .cards .feat span
{
	position: absolute;
	top: -10px;
	color: #00ADD2;
	background-color: #fff;
	left: 37%;
	right: 37%;
	text-align: auto;
	font-size: 15px;
    font-family: 'Bad Script', Arial, Helvetica, sans-serif;
}


/************************/
/* Setting Custom Width */
/************************/
#second_wrapper
{
width: 720px;	
}
#third_wrapper
{
	width: 700px;
	margin-top: 100px;
}
#fourth_wrapper
{
	width: 250px;
}
#fifth_wrapper
{
	width: 720px;
	margin-top: 80px;
}
#people_wrapper
{
	width: 500px;
}
#first_wrapper
{
	width: 800px;
	margin-top: 50px;
}
#sites_wrapper
{

	width: 750px;
}
#pricing_wrapper
{
	width: 650px;
	margin-top: 100px;
}
#price_3
{
	z-index: 20;
}




/************************/
/* Grayscale the Images */
/************************/
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}